* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #333;
}

img,
.video {
    max-width: 100%;
}

[data-init="registration-popup"] .logo {
    margin: 0 auto;
}

.logo {
    max-width: 30%;
}

.HMXCUks {
    color: #7b3dbb;
}

.c2ProsQI {
    color: #444573;
}

.I7aD8DJ {
    color: #322580;
}

.red {
    color: red;
}

.green {
    color: #00c500;
}

.gray {
    color: gray;
}

.orange {
    color: orange;
}

.white {
    color: white;
}

.yellow {
    color: #d5c93f;
}

.no-padding {
    padding: 0;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

.USHTOdL {
    text-align: center;
    background-color: red;
    color: white;
    padding: 6px 0;
}

.v3IrLQCp {
    margin: 0;
}

.Fmrn8oZ {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Zg916Aq {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    line-height: 1;
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flag {
    width: 20%;
}

.yr8tkQm {
    padding: 0 20px;
    background-color: #eee;
    margin: 0;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.d937Opzc {
    padding-left: 20px;
}

.yXcBGEn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(211, 211, 31);
}

.xgMwxWx {
    background-image: url("../images/IJ3gNGl.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    /*padding: 50px 0 200px 0;*/
}

.DxXbY6E,
.iW1r09g {
    text-align: center;
    color: white;
}

.DxXbY6E {
    font-size: 3.5rem;
    font-weight: bolder;
}

.iW1r09g {
    font-size: 2em;
    font-weight: 400;
}

.video {
    border: 10px solid white;
    box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
}

.njWUzJq .alert-danger {
    z-index: 10002;
}

.b6FYKdWV li {
    display: inline-block;
    background-color: #fff28a;
    color: white;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: bold;
    height: 7px;
    width: 50%;
    margin-left: 1px;
    margin-right: 1px;
}

.b6FYKdWV .active {
    background-color: #fd57a5;
}

.b6FYKdWV {
    padding-left: 0;
    width: 100%;
    text-align: center;
    display: flex;
}

form[data-init][data-mode="slidingform"] [data-subject="wrapper"] {
    overflow: visible;
}

.form-group .form-control {
    margin-bottom: 4px !important;
    background: #e7e7e7;
    border-radius: 5px;
    padding-right: 40px;
}

input.Password {
    background: #e7e7e7 !important;
}

.form-group .form-control.error {
    background: #e7e7e7 url(../images/unchecked.svg) 100% 60% no-repeat;
    background-size: 25px 70% !important;
}

.form-group .form-control.valid {
    background: #e7e7e7 url(../images/checked.svg) 100% 60% no-repeat;
    background-size: 25px 70% !important;
}

input.error {
    border: 3px solid #eb172b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input.valid {
    border-color: #3c763d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.mCpjs2Z {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: linear-gradient(166deg, #156cff 1%, #0e49ff);
    box-shadow: 0px 4px 20.9px 3.1px rgba(13, 13, 13, 0.43);
    text-transform: uppercase;
    width: 90%;
    min-height: 64px;
    cursor: pointer;
    position: absolute;
    bottom: -16px;
    left: -50%;
    right: -50%;
    white-space: normal;
}

.mCpjs2Z:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    font-size: 21px;
}

.b2AuZCV {
    min-height: 124px;
    background-image: url("../images/nDyzlad.webp");
}

form {
    background-image: url("../images/nDyzlad.webp");
}

.ZMcpvFn {
    margin-bottom: -16px;
}

.bkWyDTt {
    background-image: url(../images/LsmJZhR.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 50px 20px;
    padding-top: 30px;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.dDUkjS4 {
    padding: 50px 0;
    padding-top: 150px;
}

@media (max-width: 768px) {
    .dDUkjS4 {
        padding-top: 50px;
    }
}

.wP0HSBc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Rd8R0kg,
.v0EHkBg {
    font-size: .9em;
    font-weight: 700;
    display: flex;
}

.YuJc8Dw {
    font-size: 1.7em;
    font-family: 'Open Sans', sans-serif;
}

.rwBYlBG {
    padding: 50px 0;
    background-image: url("../images/wRxLHFs.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dcS4q0W {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    color: #322580;
    margin-bottom: 0;
    line-height: 1.2;
    display: block;
}

.qldVlRC {
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    margin-top: 50px;
}

.GsSEXCQ {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #6a449b;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: "Lato";
}

.b5fnxLYv {
    position: relative;
}

.r6AckN4p {
    position: absolute;
    top: -278px;
    left: 160px;
    width: 90%;
}

.d4lEqyz {
    padding-top: 150px;
    font-family: "Open Sans";
    text-align: center;
}

.LpcrS55 {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 2em;
    color: #322580;
}

.Lq2B7Zw {
    display: flex;
    justify-content: baseline;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-color: #343a40!important;
}

.PHWVXks {
    background-image: url("../images/nKKTSOe.webp");
}

.IjYPTaa {
    background-image: url("../images/RkeMwby.webp")
}

.HezUjUy {
    background-image: url("../images/PDeIR4o.webp");
}

.Jt8vTlW {
    background-image: url("../images/nPVe0qv.webp")
}

.d4jYNDWDt {
    width: 100%;
    margin-top: auto;
    padding-bottom: 25px;
    font-size: 1.25em;
}

.x7Nelm9 {
    font-size: 1.4em;
    font-weight: bold;
}

.FhHoLQU {
    position: absolute;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    height: 100%;
    transition: .5s ease;
    font-size: .95em;
    cursor: pointer;
    opacity: 0;
}

.FhHoLQU:hover {
    background-color: rgba(54, 110, 231, 0.9);
    opacity: 1;
}

.EbQqBS1 {
    padding: 150px 0;
    padding-bottom: 300px;
    font-family: "Open Sans";
    background-image: url("../images/xrDpc6H.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.JSyObxC {
    background-color: #322b7c;
    color: white;
    padding: 20px 0;
    box-shadow: 0px 6px 0 0 #7f57ca;
    height: 100%;
}

.PtfmA3A {
    margin-bottom: 50px;
}

.WqJBIr0 {
    height: 102px;
}

.tiU8tLy {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 1.2em;
}

.s5EAOw8D {
    padding: 0 20px;
}

.IFfx9vT {
    font-family: "Open Sans";
    margin: 50px 0;
}

.KztHZdj {
    box-shadow: 0px 10px 36.3px 12.7px rgba(37, 26, 65, 0.1);
    background-color: white;
    border: solid 10px #ffffff;
    position: relative;
    top: -265px;
    padding: 0px 50px 50px;
}

.HEkbWej {
    width: 100%;
}

th,
td {
    width: 20%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.q0SvEsk {
    border: none;
}

.tick {
    display: inline-block;
    background-color: #ebd944;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    color: white;
    font-size: 1.25em;
}

.aBXShdp {
    margin: 50px 0;
    font-size: 3em;
}

.rJiciMT {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0px 4px 0 0 #cab927;
    cursor: pointer;
    height: 70px;
    max-width: 400px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #ebd943;
    color: #2a2b51;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 24px;
}

.i0dZFxb {
    position: absolute;
    top: -45px;
    left: 50%;
    right: 50%;
}

.rJiciMT:hover {
    font-size: 25px;
}

.BMu2Mmx {
    background-color: #0f4bff;
    height: 350px;
    margin-top: 100px;
    position: relative;
    font-family: "Open Sans";
}

.qPSBrQt {
    position: relative;
    top: -260px;
}

.I4TaNcm {
    margin-bottom: 50px;
}

.Hz4qDXB {
    box-shadow: 0px 10px 36.3px 12.7px rgba(37, 26, 65, 0.1);
    position: relative;
    background: #fff;
    height: 100%;
}

.d5YgnZtn {
    z-index: 3;
}

.E0zfM3i {
    z-index: 2;
}

.zqQZgIA {
    z-index: 1;
}

.CSFkrJL {
    padding: 10px 0;
}

.q9Xw8eU {
    text-transform: uppercase;
    background-color: #7b3dbb;
}

.g7IiLIR1 {
    background-color: #372798;
    text-transform: uppercase;
}

.vVj4m94 {
    background-color: #0f4dff;
    text-transform: uppercase;
}

.ZzV6hdS {
    height: 93px;
}

.h4HmvQk1 {
    margin: 25px 0;
}

.Z5Tv0dA {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.mmFYfkj {
    padding: 40px 25px;
    padding-top: 0;
    margin-bottom: 0;
}

.G44LLrg {
    position: absolute;
    bottom: -33px;
    left: 50%;
    right: 50%;
}

.CrACwt7 {
    padding: 50px 0;
    margin-top: 100px;
    font-family: "Open Sans";
}

.CMhBldH {
    margin-bottom: 70px;
}

.JbigTjp {
    position: relative;
    padding: 21px 28px 30px 50px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0px 6px 26.9px 5.1px rgba(37, 26, 65, 0.1);
    min-height: 150px;
}

.faq-question {
    font-size: 1.2em;
}

.JbigTjp::before {
    display: inline-block;
    font-size: 1.5em;
    color: white;
    background-color: #7b3dbb;
    padding: 10px 20px;
    position: absolute;
    left: -25px;
    top: 62px;
    box-shadow: 0px 10px 36.3px 12.7px rgba(37, 26, 65, 0.1)
}

.wGHS3nR::before {
    content: "1";
}

.iHbZLgK::before {
    content: "2";
}

.xH09thK::before {
    content: "3";
}

.PvsrW23::before {
    content: "4";
}

.swaZcSS::before {
    content: "5";
}

.gfKzXVy::before {
    content: "6";
}

.nB9c6CE {
    background-image: url("../images/5a4sTMZ.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px 0;
}

.n2EHvaSv {
    margin-top: 25px;
    /*margin: 25px 0 6px auto;*/
    /*max-width: 310px;*/
    line-height: 1.1;
    font-size: 12px;
    font-weight: 400;
    color: #363636;
    text-align: center;
}

.nKnE07d {
    display: block;
    text-align: center;
    background-color: #ebd943;
    color: #322580;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin: 88px auto;
    box-shadow: 0px 4px 0 0 #cab927;
    cursor: pointer;
    height: 125px;
    width: 100%;
    max-width: 460px;
}

.nKnE07d:hover {
    font-size: 34px;
}

.footer {
    padding: 30px 0;
}

.Y3MHf4X {
    list-style: none;
    font-weight: bold;
}

.Y3MHf4X a {
    color: #322580;
}

.Y3MHf4X li {
    display: inline-block;
    margin-right: 30px;
}

.b9onwZxJ {
    max-width: 300px;
}

.c59n8O4E {
    padding-left: 7px;
}

.YuJc8Dw {
    transform: scale(1);
    transform: rotate3d(0, 1, 0, 0deg);
    animation: flip 10s cubic-bezier(1, 0, 0, 1) 0s infinite;
}

.shake {
    display: inline-block;
    animation: shake 1s cubic-bezier(0, .50, 1, .50) 0s infinite;
}

@keyframes flip {
    0% {
        transform: rotate3d(0, 1, 0, 0deg) scale(1);
    }
    5% {
        transform: rotate3d(0, 1, 0, 180deg) scale(1.7);
    }
    10% {
        transform: rotate3d(0, 1, 0, 720deg) scale(1);
    }
    100% {
        transform: rotate3d(0, 1, 0, 720deg) scale(1);
    }
}

@keyframes shake {
    0% {
        transform: rotate3d(0, 0, 1, 0deg) scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    30% {
        transform: rotate3d(0, 0, 1, -25deg) scale(1.1);
    }
    40% {
        transform: rotate3d(0, 0, 1, 25deg) scale(1.1);
    }
    50% {
        transform: rotate3d(0, 0, 1, 0deg) scale(1.1);
    }
    60% {
        transform: rotate3d(0, 0, 1, -25deg) scale(1.1);
    }
    80% {
        transform: rotate3d(0, 0, 1, 25deg) scale(1.1);
    }
    90% {
        transform: rotate3d(0, 0, 1, 0deg) scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {
    .r6AckN4p {
        top: -170px;
    }
}

@media screen and (max-width: 991px) {
    .qldVlRC {
        margin-top: 0;
    }
    .BMu2Mmx {
        margin-top: 0px;
    }
    .CMhBldH {
        margin-bottom: 20px;
    }
    .CrACwt7 {
        padding-top: 0;
        margin-top: 20px;
    }
    .L8dfaRs {
        display: none;
    }
    .ZX9nIw1 {
        margin-bottom: 20px;
    }
    .n2EHvaSv {
        margin: 25px auto 6px auto;
        max-width: 310px;
    }
    .r6AckN4p {
        top: -20px;
        left: 0;
    }
    /*.Fmrn8oZ{*/
    /*display: none;*/
    /*}*/
    .xgMwxWx {
        padding: 50px 0 200px 0;
    }
    .bkWyDTt {
        padding: 30px 20px;
        font-size: 1.8rem;
    }
    .BMu2Mmx {
        height: 360px;
    }
}

@media screen and (max-width:767px) {
    .KztHZdj {
        position: initial;
        padding: 0;
        overflow-x: scroll;
    }
    .BMu2Mmx {
        height: initial;
        background-color: white;
    }
    .qPSBrQt {
        position: initial;
    }
    .Hz4qDXB {
        position: initial;
        margin-bottom: 20px;
    }
    .IEfHH1o {
        margin-bottom: 20px;
    }
    .G44LLrg {
        position: initial;
        -webkit-transform: none;
        transform: none;
    }
    .X6m6uJC {
        padding: 30px 0;
        background-color: #0f4bff;
    }
    .i0dZFxb {
        top: -100px;
    }
    .rwBYlBG {
        padding-bottom: 400px;
    }
    .r6AckN4p {
        top: -655px;
        width: 70%;
        left: 0;
    }
    .d4lEqyz {
        padding-top: 50px;
    }
    .thmzqJH {
        border-bottom: 3px solid #ddd;
        padding-bottom: 50px;
    }
    .wP0HSBc {
        flex-direction: column;
    }
    .YuJc8Dw {
        font-size: 2em;
    }
    .logo {
        display: inline-block;
        margin-bottom: 15px;
    }
    .EbQqBS1 {
        padding: 100px 0;
    }
    .Fmrn8oZ {
        height: initial;
        padding: 20px 0;
        flex-direction: column;
    }
    .yr8tkQm {
        padding: 0px 20px;
        background-color: #ddd;
        margin: 0;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
        align-self: stretch;
        justify-self: stretch;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }
    .d937Opzc {
        font-weight: bold;
    }
    .Zg916Aq {
        font-weight: bold;
        font-size: 1.3em;
        line-height: 1;
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .logo {
        max-width: 100%;
    }
    .none {
        display: none;
    }
    .dDUkjS4 {
        padding-top: 20px;
    }
}

@media (min-width:568px) and (max-width:568px) {
    .rwBYlBG {
        position: relative;
    }
    .rwBYlBG {
        padding-bottom: 265px;
    }
    .r6AckN4p {
        bottom: 0px;
        top: initial;
        left: 0px;
        width: 42%;
    }
    /* .no-padding{
        padding: 0 15px;
    } */
}

@media screen and (max-width:567px) {
    .rwBYlBG {
        position: relative;
    }
    .rwBYlBG {
        padding-bottom: 265px;
    }
    .r6AckN4p {
        bottom: 0px;
        top: initial;
        left: auto;
        width: 56%;
        right: 0;
    }
    /* .no-padding{
        padding: 0 15px;
    } */
}

@media screen and (max-width:375px) {
    .rJiciMT {
        width: 90%;
    }
}

@media screen and (max-width:350px) {
    .rwBYlBG {
        padding-bottom: 290px;
    }
}

label.error {
    opacity: 0.5;
    display: inline-block;
    position: relative;
    background: white;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

.fOmeLvC {
    outline: none;
}

.intl-tel-input.allow-dropdown .selected-flag,
.intl-tel-input.separate-dial-code .selected-flag {
    outline: none;
    height: 34px;
}

#apYou {
    position: absolute;
    width: 12%;
    bottom: 41%;
    right: 43%;
}

.preloader {
    display: none;
    background: white;
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0%;
    right: 0;
    z-index: 5;
    background-image: url(../images/oT3DTkU.webp);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
    margin: 0 15px;
}

.u2EcGTU {
    text-align: center;
    display: none;
    width: 166px;
    height: 38px;
    cursor: pointer;
    position: absolute;
    top: 18%;
    right: 38%;
    bottom: 0;
    z-index: 5;
    color: #fff;
    background-color: #000;
    padding-top: 8px;
    font-size: 16px;
}

.phone {
    padding-left: 95px ! important;
}

a:not([href]):not([tabindex]) {
    color: red;
}

a:not([href]):not([tabindex]):hover {
    color: red;
}

@media (min-width: 1023px) and (max-width: 1024px) {
    .r6AckN4p {
        left: 90px;
    }
}

@media (min-width: 767px) and (max-width: 768px) {
    .r6AckN4p {
        left: 40px;
    }
    .KztHZdj {
        padding: 0;
    }
    .G44LLrg {
        bottom: -100px;
    }
}

.oVil1Fr {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}

.u2EcGTU {
    text-align: center;
    display: none;
    width: 166px;
    height: 38px;
    cursor: pointer;
    position: absolute;
    top: 18%;
    right: 38%;
    bottom: 0;
    z-index: 5;
    color: #fff;
    background-color: #000;
    padding-top: 3px;
    font-size: 17px;
}

#wo4ZFrz {
    position: absolute;
    z-index: 5;
    top: 25%;
    right: 37%;
    width: 24%;
    display: none;
    cursor: pointer;
}

@media screen and (max-height: 800px) {
    .cc1NmJJ .title {
        font-size: 45px;
    }
    .cc1NmJJ .subtitle {
        font-size: 26px;
    }
}

.td-text {
    font-weight: 100;
    font-size: 15px;
}

@media screen and (max-width: 420px) {
    .DxXbY6E {
        font-size: 2.5rem;
    }
    .wP0HSBc {
        margin-top: 5%;
    }
    .dcS4q0W {
        text-align: center;
        font-size: 2em;
    }
}

@media screen and (max-width: 360px) {
    .dcS4q0W {
        font-size: 2em;
        text-align: center;
    }
    .wP0HSBc {
        margin-top: 10%;
    }
    .DxXbY6E {
        font-size: 1.5rem;
    }
    .aBXShdp {
        font-size: 2em;
    }
    .nKnE07d {
        margin: 50px auto;
    }
}

@media (min-width: 768px) and (max-width: 1366px) {
    .mmFYfkj {
        padding: 8px 25px;
    }
}

@media screen and (max-width: 768px) {
    .bet {
        display: inline-block;
    }
}

.j6ahmZDB {
    font-size: 14px;
}

.fOmeLvC {
    height: 32px;
    width: 110px;
}

.phone {
    padding-left: 114px!important;
}

.selected-flag {
    background-color: rgba(0, 0, 0, 0.05);
}

.L8dfaRs {
    z-index: 99999;
    position: fixed;
    bottom: 10px;
    left: 10px;
}